*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'elephant';
    src: url(../fonts/ElephantRegular/Elephant-Regular.ttf);
}

:root {
    --bgColor: rgb(236, 226, 214);
    --verdeColor: rgb(92, 104, 92);
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--bgColor);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body .logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

body.background-opacity .logo {
    opacity: .3;
}

body.opacity .logo {
    filter: blur(1px);
}

body::before {
    content: '';
    transition: all .3s;
}

body.opacity::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: rgba(190, 184, 184, 0.25); */
    background-color: rgba(255, 255, 255, .3);
    z-index: 190;
}

body::after {
    content: "M&R TAX AND ACCOUNTING SERVICES, CORP.";
    position: absolute;
    font-family: 'elephant', sans-serif;
    color: rgb(157, 155, 143);
    -webkit-text-stroke: 1px rgb(80, 79, 76);
    right: 50%;
    top: 60%;
    transform: translate(50%,50%);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    z-index: -1;
}

body.background-opacity::after {
    opacity: .3;
}

body.opacity::after {
    filter: blur(1px);
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
}

input:focus {
    outline: 0;
}

.site-header {
    width: 100vw;
    padding: 0 1.5rem;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.site-header .icon-menu {
    margin-right: 25px;
    margin-top: 20px;
    z-index: 200;
}

.site-header .icon-menu:hover {
    cursor: pointer;
}

.site-header .year {
    font-size: 2.2rem;
    color: var(--verdeColor);
}

.site-header .check {
    visibility: hidden;
}

.site-header .check:hover {
    cursor: pointer;
}

/*********************** 
*         MENU        *
***********************/
.menu.active {
transform: translateX(0);

}

.menu {
    transform: translateX(-100%);
    transition: all .3s;
    padding: 90px 10px;
    width: 250px;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, .2); */
    background-color: rgba(90, 84, 74, .3);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 190;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--verdeColor);
}

.menu > img {
    position: absolute;
    top: 20px;
    left: 1.5rem;
    display: none;
}

.menu > img.active {
    display: inline-block;
}

.menu > img:hover {
    cursor: pointer;
}

.menu-content ul li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid rgb(128, 138, 128);
    padding: 15px 0;
}

.menu-content ul li:hover {
    cursor: pointer;
}

.menu-content ul li p {
    font-size: 22px;
    font-weight: 500;
}

.menu-content ul li img {
    margin-left: 15px;
    transition: all .2s;
}

.li-archivo {
    position: relative;
}

.archivo-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 700px;
    padding: 0 10px;
    left: calc(100% + 10px);
    background-color: rgba(0, 0, 0, .150);
    border-left: .5px solid gray;
    transition: all .2s;
    transform: scale(0);
    transform-origin: top left;
}

.archivo-content.active {
    transform: scale(1);
}

.archivo-content.active ~ img {
    transform: rotateY(180deg);
}

.archivo-content li {
    height: 58px;
}

.menu-footer {
    text-align: center;
    border-top: 2px solid rgb(128, 138, 128);
    padding-top: 15px;
}

.menu-footer p {
    font-weight: 500;
    margin-bottom: 5px;
}

/*********************** 
*       FOOTER        *
***********************/
body.opacity footer {
    filter: blur(2px);
}

footer {
    z-index: 100;
    height: 15%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--bgColor);
    /* overflow: hidden; */
}

footer ul {
    width: 100%;
    display: flex;
    position: relative;
}

footer ul li {
    text-align: center;
    background-image: linear-gradient( 170deg, rgb(113, 138, 113) 30%, rgb(158, 166, 150) 70%);
    color: rgb(207, 193, 173);
    border-radius: 20px 20px 0 0;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: .5rem;
    border-top: 1px solid var(--verdeColor);
    border-right: 1px solid var(--verdeColor);
    border-bottom: 1px solid var(--verdeColor);
    text-transform: uppercase;
    height: 70px;
    box-shadow: 1px -1px 5px rgba(0, 0, 0, .3);
    /* min-width: 10%;
    max-width: 10%; */
    position: relative;
}

#nomina {
    /* background-image: rgb(116, 127, 116) !important; */
    background-image: linear-gradient(to bottom, rgb(116, 127, 116), rgb(116, 127, 116));
}

footer ul li.empresa {
    min-width: 10%;
    max-width: 10%;
}

footer ul li.mes {
    min-width: 15.6%;
    max-width: 15.6%;
}

footer ul li input {
    max-width: 100%;
    font-size: 18px;
    font-family: 'Raleway';
    background-color: transparent;
    border: none;
    color: rgb(207, 193, 173);
    text-overflow: ellipsis;
}

footer ul li input:focus {
    outline: 0;
}

footer ul li input:hover {
    cursor: pointer;
}

footer ul li img {
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 110;
    visibility: hidden;
}

footer ul li:hover {
    cursor: pointer;
} 

/********************** 
*       MODAL         *
***********************/

.modal {
    width: 500px;
    position: absolute;
    z-index: 200;
    top: -100%;
    right: 49.5%;
    transform: translate(50%);
    transition: all .2s;
    padding: 1rem;
    padding-bottom: 0;
    /* background-color: rgba(0, 0, 0, .250); */
    background-color: rgb(168, 164, 154);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal.active{
    top: 0;
}

.modal h3 {
    color: var(--verdeColor);
    font-size: 1.3rem;
    letter-spacing: 1px;
    position: relative;
}

.modal h3:before {
    content: url(../icons/alert.png);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -4rem;
}

.modal h2 {
    color: rgba(255, 255, 255, .7);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: .7rem auto;
}

.modal .botones {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.modal .botones button {
    background-color: rgba(80, 27, 27, 0.1);
    padding: .5rem 1rem;
    font-size: 22px;
}

.modal .botones button:hover {
    cursor: pointer;
}

.btn-aceptar {
    color: var(--verdeColor);
}

.btn-cancelar {
    color: rgba(255, 0, 0, .4);
}

/************************************* 
*       PAGINA DE LA EMPRESA         *
**************************************/
body.opacity .empresa-name-container {
    filter: blur(1px);
}

.empresa-name-container {
    background-color: rgb(180, 176, 164);
    padding: 1.2rem .8rem;
    transform: translateX(-10%);
    width: 512px;
}

.empresa-name-container:hover {
    cursor: pointer;
}

.empresa-name-container h1 {
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
    font-size: 2.3rem;
    text-align: center;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

main {
    min-width: 100vw;
    position: relative;
    overflow-y: scroll;
    max-height: 70vh;
    z-index: 100;
}

table,th, td {
    border-collapse: collapse;
    padding: .5rem 1rem;
    font-size: 13px;
}

body.opacity table,
body.opacity th,
body.opacity td {
    filter: blur(2px);
}

td:not(:first-child) {
    text-align: center;
    letter-spacing: 1px;
}

main table {
    width: 95%;
    margin: 0 auto;
    max-height: 100%;
    z-index: 100;
    position: relative;
    border: 2px solid rgb(157, 155, 143);
    border-bottom: none;
}

main table tr {
    border-top: 2px solid rgb(157, 155, 143);
    border-bottom: 2px solid rgb(157, 155, 143);
}

main table td, th {
    border-right: 2px solid rgb(157, 155, 143);
    border-left: 2px solid rgb(157, 155, 143);
}

main table td input {
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}

.white-line {
    visibility: hidden;
}

main table .revenue, .deposits, .operating-expenses, .gross-profit {
    background-color: rgba(155, 153, 151, 0.5);
}

main table .revenue td:not(:first-child), .operating-expenses td:not(:first-child), .white-line td {
    border-right: none;
    border-left: none;
}

.revenue, .operating-expenses {
    text-align: center;
    font-weight: bold;
}

main table .type td:last-child {
    position: relative;
}

main table tr.nombre {
    position: relative;
}

main table tr.nombre td img {
    position: absolute;
    z-index: 110;
    left: -.5rem;
    top: -.5rem;
    visibility: hidden;
}

main table tr.nombre td img:hover {
    cursor: pointer;
}